[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ipykernel = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
nbformat = "*"
scipy = "*"
dash = "*"
dash-bootstrap-components = "*"
jupyter-dash = "*"
geopandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
